.content-sec {
    padding-top: 15px;
  }
  .user-label{
    max-width: 18.666667% !important;
  }
  .left-list {
    height: 100%;
    width: 30%;
    background-color: #80a7e0;
    position: absolute;
}
  .user-heading {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid #333;
    color: #333;
    margin-bottom: 20px;
    padding-bottom: 7px;
  }
  .btn.user-submit {
    background-color: #333;
    border-radius: 0;
    width: 120px;
    color: #FFF;
  }
  #passNotMatch .modal-header, #successMatch .modal-header{
    height: 39px;
    padding: 3px 14px;
  }
  p.heading.lead {
    font-weight: bold;
    color: #333;
  }
  .user-man-btn{
    margin-top: 10px;
  }
  .modal-btn {
    border-radius: 0;
    background-color: #333;
  }
  input.nospinner[type=number]::-webkit-inner-spin-button, 
  input.nospinner[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  .material-error{
    color: #f44336;
    font-size: 75%;
    margin-top: -18px;
    margin-bottom: 12px;
    font-weight: 400;
    font-family: Roboto,"Helvetica Neue",sans-serif;
  }
  
  /** media query starts here **/
  @media(max-width: 767px){
    .left-list{
      width: 50%;
      z-index: 100;
      padding-top: 40px;
      box-shadow: 1px 1px 1px 1px #CCC;
    }
  }